<%- include('../Includes/header.ejs')%>
<body>
    <%- include('../Includes/navigation.ejs')%><br><br>

    <h1 style="text-align: center;">Thanks for buying this product. Hope you will enjoy the product.</h1><br><br><br><br>
    <%- include('../Includes/footer.ejs')%>