<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form method="post" action="formData">
            <h2>Login Form</h2>
            <label for="fname">First Name:</label><br>
            <input type="text" name="fName"><br><br>
            <label for="lName">Last Name:</label><br>
            <input type="text" name="lName"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" name="email"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" name="pwd"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>